.site-wrap {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  overflow: hidden;
  min-width: 320px;

  .header {
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
  }
  .content {
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
  }

  .footer {
    flex: 0 0 auto;
    position: relative;
    z-index: 3;
  }
}